:root{
  --bg-dark-primary: #222831;
  --bg-dark-secondary: #171717;
  --bg-dark-tertiary: #0F0F0F;
  --bg-dark-quaternary: #040303;
  --bg-gray-primary: #90A4AE;
  --bg-gray-secondary: #929AAB;
  --bg-gray-tertiary: #525252;
  --bg-gray-quaternary: #414141;
  --bg-sky-primary: #00EAFF;
  --bg-sky-secondary: #00A8CC;
  --bg-sky-tertiary: #0092CA;
  --bg-sky-quaternary: #0F81C7;
  --bg-orange-primary: #FFAA4C;
  --bg-orange-secondary: #F58840;
  --bg-orange-tertiary: #DE703C;
  --bg-orange-quaternary: #D65A31;
  --bg-white-primary: #F1F6F9;
  --bg-white-secondary: #F0F0F0;
  --bg-white-tertiary: #EEEEEE;
  --bg-white-quaternary: #E6F5FF;
  --bg-blue-primary: #1C4B82;
  --bg-blue-secondary: #183661;
  --bg-blue-tertiary: #293A80;
  --bg-blue-quaternary: #00204A;
  --bg-yellow-primary: #FFD700;
  --bg-yellow-secondary: #FFC12D;
  --bg-yellow-tertiary: #F7B633;
  --bg-yellow-quaternary: #F89D13;
  --bg-green-primary: #17B794;
  --bg-green-secondary: #009F9D;
  --bg-greeen-tertiary: #007880;
  --bg-green-quaternary: #045757;
  --bg-red-primary: #FF6768;
  --bg-red-secondary: #CA3E47;
  --bg-red-tertiary: #83142C;
  --bg-red-quaternary: #44000D;
  --bg-purple-primary: #6F4A8E;
  --bg-purple-secondary: #511281;
  --bg-purple-tertiary: #57007E;
  --bg-purple-quaternary: #301B3F;
  --bg-white-main: #ffffff;
  --bg-gray-main: #b7b7b7;

}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}

.fonst {
  font-family: 'Lato', sans-serif;

  font-family: 'Oswald', sans-serif;

  font-family: 'Roboto', sans-serif;

  font-family: 'Ubuntu', sans-serif;

  font-family: 'Ubuntu Condensed', sans-serif;
}
