main {
    margin-top: 1.4rem;
}

main .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .cards>div {
    background: var(--bg-white-secondary);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .cards>div:hover {
    box-shadow: none;
}

main .cards>div span {
    background: var(--bg-blue-primary);
    padding: 0.5rem;
    border-radius: 18%;
    color: var(--bg-white-primary);
    font-size: 1.6rem;
}

main .cards>div .card-middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main .cards h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .cards .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .cards svg{
    width: 7rem;
    height: 7rem;
}

main .cards svg circle{
    fill: none;
    stroke: var(--bg-blue-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dashoffset: 60;
    stroke-dasharray: 200;
}

main .cards .progress .number{
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
}

main .cards small{
    margin-top: 1.3rem;
    display: block;
}