.dashboard{
    margin: 5px 12px;
}

.dashboard_msg{
    color: var(--bg-gray-tertiary);
    font-size: 1.2rem;
}

.dashboard_welcome{
    color: var(--bg-blue-primary);
}

.dashboard .row{
    background-color: var(--bg-white-main);
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 12px;
}