.main_layout{
    display: flex !important;
}

.main_layout_navbar{
    flex-grow: 2;
    font-family: 'Oswald', sans-serif;
    background-color: var(--bg-gray-main);
}

.main_layout_separator{
    margin-top: 0 !important;
}

.main_layout_dashboard{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

