table.customTable {
    border: 8px solid var(--bg-gray-primary);
    background-color: var(--bg-white-primary);
    width: 800px;
    text-align: center;
    border-collapse: collapse;
  }
  table.customTable td, table.customTable th {
    border: 5px solid var(--bg-white-primary);
    padding: 2px 4px;
  }
  table.customTable tbody td {
    font-size: 0.99rem;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--bg-dark-tertiary);
  }
  table.customTable tr:nth-child(even) {
    background: var(--bg-gray-secondary);
  }
  table.customTable thead {
    background: var(--bg-sky-quaternary);
  }
  table.customTable thead th {
    font-size: 1.1rem;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--bg-white-main);
    text-align: center;
    border-left: 1px solid var(--bg-white-primary);
    font-weight: 500;
    height: 32px;
  }
  table.customTable thead th:first-child {
    border-left: none;
    height: 32px !important;
  }

  .sort{
      margin-left: 0.6rem;
      vertical-align: middle;
      color:  var(--bg-white-tertiary);
  }

  .sort :hover{
      cursor: pointer;
      color: var(--bg-dark-secondary);
  }
