table.customTable {
    border: 8px solid var(--bg-white-tertiary);
    background-color: var(--bg-white-tertiary);
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    margin: 2rem;
  }
  table.customTable td, table.customTable th {
    border: 5px solid var(--bg-white-tertiary);
    padding: 2px 4px;
  }
  table.customTable tbody td {
    font-size: 0.85rem;
    font-family: 'Saira', sans-serif;
    color: var(--bg-dark-tertiary);
  }
  table.customTable tr:nth-child(even) {
    background: var(--bg-gray-secondary);
  }
  table.customTable thead {
    background: var(--bg-blue-secondary);
    border-bottom: 0px solid var(--bg-blue-secondary);
  }
  table.customTable thead th {
    font-size: 0.85rem;
    font-family: 'Saira', sans-serif;
    color: var(--bg-white-main);
    text-align: center;
    border-left: 1px solid var(--bg-white-tertiary);
    font-style: italic;
    font-weight: 400;
    height: 40px;
  }
  table.customTable thead th:first-child {
    border-left: none;
    height: 30px !important;
  }

  .sort{
      margin-left: 0.6rem;
      vertical-align: middle;
      color:  var(--bg-gray-tertiary);
  }

  .sort :hover{
      cursor: pointer;
      color: var(--bg-yellow-secondary);
  }
