.zones_pages{
    background-color: var(--bg-white-tertiary);
}

.zones_pages_title{
    font-family: 'Bebas Neue', cursive;
    color: var(--bg-dark-primary);
    font-weight: 300;
}

.zones_pages_subtitle {
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.disclaimer{
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-size: 0.85rem;
}