
.sidebar_container{
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    min-height: 100vh;
    background: var(--bg-orange-quaternary) !important;
}

.sidebar_logo{
    padding: .875rem 1.25rem;
    color: var(--bg-white-quaternary);
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    background-color: var(--bg-dark-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.sidebar_title_logo{
    margin-left: 0.5rem;
}

.sidebar_menu{
    width: 12rem;
}

.sidebar_menu_link {
    color: var(--bg-dark-primary);
    margin: 2rem 1rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar_menu_title {
    margin-left: 0.5rem;
}

.sidebar_menu a:hover{
    background-color: var(--bg-dark-primary);
    text-decoration: none;
    color: var(--bg-white-secondary) !important;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    border-radius: 12px;
    justify-content: center;
}