.sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

.sidebar a {
    display: flex;
    color: var(--bg-gray-tertiary);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.3s ease;
}

.sidebar .sidebar_nav_title {
    font-weight: 700;
}

.sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

.sidebar a.active {
    background: var(--bg-white-primary);
    color: var(--bg-dark-primary);
    margin-left: 0;
}

.sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--bg-pink-tertiary);
}

.sidebar a.active span {
    color: var(--bg-gray-tertiary);
    margin-left: calc(1rem - 3px);
}

.sidebar a:hover{
    color: var(--bg-dark-primary);
}

.sidebar a:hover span{
    margin-left: 1rem;
}