.container_flex{
    display: flex !important;
}

.container_navbar{
    flex-grow: 2;
    font-family: 'Oswald', sans-serif;
    background-color: var(--bg-gray-main);
}

.content_dashboard{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    
}

.container_separator{
    margin-top: 0 !important;
}