.container-flex{
    display: flex !important;
}

.container-navbar{
    flex-grow: 2;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(221, 220, 220);
}

.content-dashboard{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    
}

.line{
    margin-top: 0 !important;
}