.btn-search{
    right: 5px;
}

.icon-search{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.3rem;

}

.avatar{
    max-width: 48px;
}

.navbar {
    height: 80px;
    background-color: var(--bg-white-secondary);
}

.profile_name{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}

.dropdown-item{
    font-family: 'Bebas Neue', cursive;
}